.separador {
  border: 40px solid rgba(0, 0, 0, 0.9);
}
.body {
  display: flex;
  flex-direction: column;
}
.detail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button {
  padding: 5px 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 4px;
}
.title {
  font-size: 4em;
  margin-bottom: 60px;
}
