.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  background-color: white;
  margin-left: 5%;
  font-family: "Titillium Web", sans-serif;
  width: 85%;
}

.img {
  height: 100px;
  width: 100px;
}

.title {
  font-size: 1.3em;
}
