.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 5px;

  background-color: white;
  margin-bottom: 10px;
}

.img {
  height: 100px;
  width: 100px;
}

.title {
  font-size: 1.3em;
}
