.body {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 4em;
  margin-bottom: 50px;
}

.separador {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  margin-top: 50px;
}
