.button {
  border-radius: 5px;
  padding: 5px 35px;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 15%;
  right: 15%;
}

.user {
  color: white;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
}
