.container {
  height: 60px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  top: 0;
}

.span {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
}

.span:hover {
  color: orange;
}
