.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}
.title {
  font-size: 4em;
  color: black;
  font-family: "Titillium Web", sans-serif;
}
.input {
  padding: 15px 15px;
  width: 30%;
  text-align: left;
  border-radius: 5px;
  font-family: "Titillium Web", sans-serif;
}
